<%- include('../partials/header.ejs') %>

<div class="sign-in">
<h1>Sign In</h1>

<form action="/auth/sign-in" method="POST">
  <label for="email"><strong>Email</strong></label>
  <input type="email" name="email" id="email" />
  <label for="password"><strong>Password</strong>:</label>
  <input type="password" name="password" id="password" />
  <button type="submit"><strong>SIGN IN</strong></button>
</form>

<p class="error-msg"><%= error %></p>
</div>

<%- include('../partials/footer.ejs') %>