<%- include('./partials/header.ejs') %>

    <h1>Taskmaster Tree</h1>

    <body>
        <div class="img-placeholderone">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/birch-tree-01-v10XvG1-600.jpg"
                alt="Oak Tree" width="350" height="350">
                <article>
                <h3> <strong>Oak Tree</strong></h3>
              insdonveno
                    
                </article>
        </div>
        <div class="img-placeholdertwo">
            <img src="https://banner2.cleanpng.com/20180825/o/kisspng-tree-bonsai-3d-modeling-image-pinus-parviflora-znimg-ru-1713948791486.webp"
                alt="Oak Tree" width="350" height="350">
        </div>
        <div class="img-placeholderthree">

        </div>

    </body>

    <%- include('./partials/footer.ejs') %>