<%- include('./partials/header.ejs') %>

    <h1>Taskmaster Tree Trim</h1>

    <body>
        <div class="img-placeholderone">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/birch-tree-01-v10XvG1-600.jpg"
                alt="Oak Tree" width="350" height="350">
            <article>
                <h3><strong>Oak Tree</strong></h3>
                Oak trees are large, strong, and long-lived deciduous or evergreen trees known for their
                sturdy wood and lobed leaves. They produce acorns as fruit and are commonly found in the
                Northern Hemisphere. Oaks support a wide variety of wildlife and are often valued for shade and timber.

            </article>
        </div>
        <div class="img-placeholdertwo">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/winter-pine-tree-Q9BzKkB-600.jpg"
                alt="Pine Tree" width="350" height="350">
                <article>
                    <h3><strong>Pine Tree</strong></h3>
                    Pine trees are evergreen coniferous trees known for their needle-like leaves and
                     woody cones. Pine trees can grow tall and straight, often with 
                     rough bark and branches that spread outward. They stay green year-round and are valued 
                     for their wood, resin, and as ornamental trees.
                </article>
        </div>
        <div class="img-placeholderthree">
            <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/baobab-tree-WEa4Zy0-600.jpg"
            alt="Baobab Tree" width="350" height="350">
            <article>
                <h3><strong>Baobob Tree</strong></h3>
                Baobab trees are large, distinctive trees native to Africa, Madagascar, 
                and parts of Australia. They are known for their massive, swollen trunks 
                that store water and their sparse branches that resemble roots, giving them 
                the nickname "upside-down trees." Baobabs produce fruit rich in nutrients and have bark, 
                leaves, and seeds used for food, medicine, and materials. They can live for thousands 
                of years and are important in many local cultures and ecosystems.
            </article>
        </div>

    </body>

    <%- include('./partials/footer.ejs') %>