* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-in {
  background-image: url(https://images.stockcake.com/public/9/7/4/9744a67a-13f7-4c91-aa5e-e28b5de87e3e_large/blossoming-pink-forest-stockcake.jpg);
  width: 100vw;
  background-repeat: no-repeat;
}

h1 {
  color: palevioletred;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 45vw;
}
body {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.img-placeholderone {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  height: 70vh;
  width: 100vw;
}
.img-placeholdertwo {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  height: 70vh;
  width: 100vw;
}

.img-placeholderthree {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  height: 70vh;
  width: 100vw;
}

nav,
footer {
  background-color: plum;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
  width: 100vw;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.3vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
}

button:hover {
  background-color: lightslategray;
  color: rgb(212, 100, 100);
}


.error-msg {
  color: rgb(223, 116, 116);
}